.hepsi{
    margin-top: 20px;
}
.text{
    margin-top: 8px !important
}
.button{
    margin-left: 350px
}
.imgGoster{
    margin: 5px 15px;
    height: 250px;
    width: 25px;
    border: 1px solid gray;
}
.pretext{
    width: 100%;
}